.location {
    width: 90px;
    height: 90px;
    background-color: rgba(128, 128, 128, 0.185);
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}


.holat-btn {
    width: 120px;
    height: 35px;
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, 0.414);
    background-color: rgba(128, 128, 128, 0.16);
}


.tizim {
    margin-top: -1rem;
}

.holat-btn-buyurtma {
    width: 125px;
    height: 35px;
    border: none;
    border-radius: 17px;
    background-color: #FFF7D9;
    color: #937200;
}


.holat-btn-bekor {
    width: 125px;
    height: 35px;
    border: none;
    border-radius: 17px;
    background-color: #FFD9D9;
    color: #BE0707;
}

.holat-btn-yakun {
    width: 125px;
    height: 35px;
    border: none;
    border-radius: 17px;
    background-color: #D9FFDA;
    color: #008C06;
}

.holat-btn-yetkazish {
    width: 125px;
    height: 35px;
    border: none;
    border-radius: 17px;
    background-color: #E7D9FF;
    color: #320088;
}


.holat-btn-qabul {
    width: 125px;
    height: 35px;
    border: none;
    border-radius: 17px;
    background-color: #D9EDFF;
    color: #004D92;
}


.bh {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}




.btn-driver {
    width: 130px;
    height: 35px;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
}


.top-thread {
    height: 45px;
}



.hg {
    border: 1px solid rgba(128, 128, 128, 0.405);
    padding-left: 1.2rem;
}


.table-brder {
    border: 1px solid rgba(128, 128, 128, 0.405);
    border-radius: 10px;
}




.som {
    margin-top: -1rem;
}


.hammasi {
    border: 1px solid rgba(128, 128, 128, 0.304);
    padding: 2rem 1.5rem;
    border-radius: 14px;
}