.morke {
    width: 100%;
    min-height: 100px;
    border-bottom: 1px solid black;
}



.parag {
    width: 800px;
}


.share {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.318);
    border-radius: 5px;
}

.delete {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    background-color: #FFDEDE;
}



.div {
    border: 1px solid rgba(128, 128, 128, 0.441);
    padding: 2rem 1.5rem;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
}




.sana {
    margin-top: -1px;
}




.user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.349);
    display: flex;
    justify-content: center;
    align-items: center;
}


.topmor {
    width: 17%;
}