.ummumiy {
    margin-left: 18%;
}


.mytable {
    width: 100%;
    border-radius: 9px;
    overflow: hidden;
}

.btnholat {
    width: 110px;
    height: 30px;
    border: none;
    background-color: green;
}



.buyurtma {
    color: rgb(231, 192, 102);
}


.card_driver {
    border-radius: 5px;
    background-color: white;
    min-height: 150px;
}

.turi_driver {
    font-weight: 700;
}


.driver_name {
    color: #1d2a52;
}

.tod_card_driver {
    width: 150px;
}

.auto_num {
    margin-top: -1rem;
}

.bekor {
    color: rgba(255, 0, 0, 0.725);
}


.qabul {
    color: blue;
}

.yakun {
    color: rgb(54, 255, 54);
}

.yetkazish {
    color: rgb(117, 23, 117);
}

.thread {
    background-color: #2E3444;
    height: 50px;
    color: white;
}


.tr {
    height: 55px;
}


.jg {
    border-bottom: 1px solid #8080807b !important;
    padding-left: 1.2rem;
}