.ummumiy {
    margin-left: 18%;
}


.mytable {
    width: 100%;
    border-radius: 9px;
    overflow: hidden;
}

.btnholat {
    width: 110px;
    height: 30px;
    border: none;
    background-color: green;
}


.buyurtma {
    color: rgb(231, 192, 102);
}

.bekor {
    color: rgba(255, 0, 0, 0.725);
}


.qabul {
    color: blue;
}

.yakun {
    color: rgb(54, 255, 54);
}

.yetkazish {
    color: rgb(117, 23, 117);
}

.thread {
    background-color: #2E3444;
    height: 50px;
    color: white;
}


.tr {
    height: 55px;
}


.jg {
    border-bottom: 1px solid rgba(128, 128, 128, 0.482);
    padding-left: 1.2rem;
}