.enabled {
    width: 90px;
    height: 32px;
    border-radius: 18px;
    background-color: #D9FFDA;
}


.disabled {
    width: 90px;
    height: 32px;
    border-radius: 18px;
    background-color: #FFD9D9;    ;
}


.input_cheks {
    margin-left: 3.5rem;
} 